.page {
  max-width: 1400px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 10px;
  background: red;
  font-family: serif;
}
.page__title {
  color: #000;
  font-size: 25px;
  margin-bottom: 10px;
}
.page__description {
  color: #000;
  font-size: 20px;
  margin-bottom: 10px;
}